    body {
        background-color: rgba(255, 72, 0, 0.982);
        margin: 0;
        font-family: Arial, sans-serif;
    }
    
    #color {
        background-color: #ffffff;
        padding: px;
        margin: 0px;
        border-radius: 2%;
    }
    
    h3 {
        text-align: center;
    }
    
    #nam {
        text-align: center;
        text-decoration: aquamarine;
    }
    
    #web {
        text-align: center;
        color: rgb(70, 19, 10);
    }
    
    #tej {
        text-align: center;
        color: rgb(0, 0, 135);
    }
    
    #intro {
        text-align: center;
        color: rgb(79, 69, 228);
    }
    
    #social {
        padding: 5px;
        margin: 5px;
    }
    
    body {
        margin: 0;
        font-family: Arial;
    }
    /* Hide default checkbox */
    
    #toggle {
        display: none;
    }
    /* Open Button */
    
    .open-btn {
        font-size: 22px;
        padding: 10px 15px;
        cursor: pointer;
        display: inline-block;
    }
    /* Sidebar Style */
    
    .sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        /* hidden */
        width: 200px;
        height: 100%;
        background: #104859;
        padding-top: 60px;
        transition: left 0.4s;
    }
    /* Sidebar Links */
    
    .sidebar a {
        display: block;
        padding: 12px 20px;
        color: white;
        text-decoration: none;
    }
    
    .sidebar a:hover {
        background: #333;
    }
    /* Close button inside sidebar */
    
    .close-btn {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 28px;
        color: white;
        cursor: pointer;
    }
    /* When checkbox is checked → show sidebar */
    
    #toggle:checked~.sidebar {
        left: 0;
    }
    
    .content {
        padding: 20px;
    }